@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quantico', sans-serif;
    background-color:antiquewhite;
}
.main_container{
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
.calculator{
    background-color: rgb(235, 178, 103);
    max-width: 450px;
    height: 600px;
    padding: 35px;
    border-radius: 50px;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.inputBox{
    background-color: rgb(143, 90, 21);
    width: 100%;
    border-radius: 40px;
    height: 20%;
    border: 3px solid black;
    flex-grow: 0;
}
.textBox{
    background-color: rgb(182, 253, 253);
    width: 93%;
    height: 75%;
    margin: 3.5%;
    border-radius: 30px;
    border: 2px solid black;

    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 0 7%;
    justify-content: space-between;
}
.result{
    background-color: rgb(182, 253, 253);    
    font-size: 1.7rem;
    font-weight: bold;
}
.func{
    background-color: rgb(182, 253, 253);
    font-size: 1.3rem;
}
.controls{
    background-color: rgb(235, 178, 103);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}
.col{
    background-color: rgb(235, 178, 103);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
button{
    height: 20%;
    width: 80px;
    /* padding: 10px; */
    border-radius: 20px;
}
.btn{
    cursor: pointer;
    background-color: rgb(143, 90, 21) ;
    margin: 5px;
    flex: 1;
    font-size: 1.2rem;
    border: 3px solid black;
    font-weight: bold;
    color: white;

    transition: 300ms;
}
.plus{
    flex-grow: 2.5;
}
.btn:hover{
    background-color: rgb(88, 56, 13);
}
.ctrlBtn{
    background-color: rgb(197, 6, 6);
}
footer{
    text-align: center;
    padding-top: 20px;
    height:8vh;
    flex: 1;
}
a{
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: black;
    transition: 600ms;
}
a:hover{
    font-size: 1.1rem;
}

@media screen and (max-width:500px) {
    button{
        width: 60px;
    }
    .main_container{
        background-color: aliceblue;
    }
}